/* 
  Andres es paloma
*/

/* 
    TABLE OF CONTENTS
    ========================================================================= */
/*      1. CSS RESET
        2. DOCUMENT STYLES
        3. TYPOGRAPHY 
        4. HEADER 
            4.2 CUSTOM HEADING
        5. CUSTOM SECTION BACKGROUNDS
        6. DIVIDERS 
        7. EVENTS CAROUSEL
        8. SLIDER - MASTER SLIDER
        9. BOTON
        10.GALERIA
        11.NAVBAR   
*/


/* ==========================================================================
    1. CSS RESET
    ========================================================================= */
    a,
    abbr,
    acronym,
    address,
    applet,
    article,
    aside,
    audio,
    b,
    big,
    blockquote,
    body,
    canvas,
    caption,
    center,
    cite,
    code,
    dd,
    del,
    details,
    dfn,
    div,
    dl,
    dt,
    em,
    embed,
    fieldset,
    figcaption,
    figure,
    footer,
    form,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    header,
    hgroup,
    html,
    i,
    iframe,
    img,
    ins,
    kbd,
    label,
    legend,
    li,
    mark,
    menu,
    nav,
    object,
    ol,
    output,
    p,
    pre,
    q,
    ruby,
    s,
    samp,
    section,
    small,
    span,
    strike,
    strong,
    sub,
    summary,
    sup,
    table,
    tbody,
    td,
    tfoot,
    th,
    thead,
    time,
    tr,
    tt,
    u,
    ul,
    var,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: baseline;
    }
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    body {
        line-height: 1;
    }
    blockquote,
    q {
        quotes: none;
    }
    blockquote:after,
    blockquote:before,
    q:after,
    q:before {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    *:focus {
        outline: 0;
        text-decoration: none;
    }
    a:focus,
    a:active {
        text-decoration: none;
        outline: 0;
    }
    
    /* ==========================================================================
        2. DOCUMENT STYLES
        ========================================================================= */
        
    body {
        font-family: 'Montserrat-UltraLight', Arial, sans-serif;
        font-size: 15px;
        line-height: 23px;
        color: #777777;
        background-color: #fff;
    }
    .row {
        margin-bottom: 100px;
    }
    .row-equal-height {
        display: table;
    }
    .row-equal-height *[class^="col-"] {
        display: table-cell;
        float: none;
    }
    .centered {
        text-align: center;
    }
    .overflow-hidden {
        overflow: hidden;
    }
    .emphasized-text {
        font-size: 24px;
        font-weight: 700;
        color: #161d27;
        margin-bottom: 25px;
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    img.float-left {
        float: left;
        margin: 12px 12px 12px 0;
    }
    img.float-right {
        float: right;
        margin: 12px 0px 12px 12px;
    }
    .float-left {
        float: left;
    }
    .float-right {
        float: right;
    }
    .img-center {
        display: table;
        margin: 0 auto;
    }
    .page-content .logo img {
        margin: 0 auto;
    }
    .container-fluid.padding-0 .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .page-content select {
        border: 1px solid #475366;
        background-color: transparent;
        width: 100%;
        height: 40px;
        padding: 0 10px;
    }
    .reset-padding-top {
        padding-top: 0 !important;
    }
    .locations-padding-top {
        padding-top: 250px !important;
    }
    .page-content .locations-select {
        color: #E2E2E2;
        cursor: pointer;
        margin-top: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: 1px solid #686D75;
        background: rgba(0, 0, 0, 0.2) url(../img/input-arrow.png) no-repeat right 10px center;
    }
    .bottom-element-wrapper {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-bottom: 20px;
    }
    .bottom-element-wrapper .social-links {
        margin: 0 auto;
    }
    .bottom-element-wrapper .social-links li a {
        background-color: #1d2026;
    }
    .bottom-element-wrapper .social-links li a:hover {
        background-color: #2B2F35;
    }
    .bottom-element-wrapper .social-links li a i {
        color: #fff;
    }
    
    /* ==========================================================================
        3. TYPOGRAPHY 
        ========================================================================= */
    
    p,
    a {
        color: #777777; 
    }
    p,
    a,
    span {
        font-family: 'Montserrat-UltraLight', Arial, sans-serif;
        line-height: 25px;
    }
    p {
        padding-bottom: 15px;
    }
    a {
        -webkit-transition: all 0.2s ease 0s;
        -moz-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        -ms-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    h1,
    h2,
    h3,
    h4{
        font-family: 'Suranna', serif;
        color: #161d27;
        margin-top: 0;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    
    h5,
    h6 {
        font-family: 'Montserrat', Arial, sans-serif;
        color: #161d27;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
    }
    h1 {
        font-size: 60px;
        line-height: 60px;
    }
    h2 {
        font-size: 44px;
        line-height: 44px;
    }
    h3 {
        font-size: 36px;
        line-height: 36px;
    }
    h4 {
        font-size: 27px;
        line-height: 28px;
    }
    h5 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 3px;
    }
    h6 {
        font-size: 15px;
        line-height: 15px;
    }
    h5 .sans-serif {
        font-family: 'Montserrat', Arial, sans-serif !important;
        font-size: 21px;
    }
    .dark h5 .sans-serif {
        color: #fff;
    }
    strong {
        font-weight: 600;
    }
    strong a:hover {
        text-decoration: underline;
    }
    ul,
    ol {
        list-style-position: inside;
        list-style-type: none;
    }
    ul li,
    ol li {
        padding-bottom: 0;
    }
    .listy-style-none {
        list-style: none;
    }
    ul.list-border li,
    ol.list-border li {
        border-bottom: 1px dotted #ccc;
        padding-bottom: 8px;
        padding-top: 3px;
    }
    ul.list-border li:last-child,
    ol.list-border li:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
    ul.list-border li:first-child,
    ol.list-border li:first-child {
        padding-top: 0;
    }
    .page-content ul {
        margin-bottom: 25px;
    }
    .page-content ul li{
        font-size:14px;
    }
    .circle-list-style-type li {
        padding-left: 14px;
        margin: 0 0 5px;
        font-size: 14px;
        position: relative;
    }
    .circle-list-style-type li:before {
        position: absolute;
        font-family: 'FontAwesome';
        font-size: 6px;
        content: "\f111";
        display: block;
        top: 1px;
        left: 0px;
    }
    blockquote + p {
        margin-top: 15px;
    }
    .custom-col-padding {
        padding: 275px 0 195px 0!important;
    }
    .padding-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    a.more-details{
        font-family: 'Suranna', serif;
        text-transform: uppercase;
        font-size: 21px; 
        border-bottom: 1px solid;
        color: #161d27;
        display: inline-block;
        padding-bottom: 3px;
        margin-top: 10px;
    
        -webkit-transition: all 0.2s ease 0s;
        -moz-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        -ms-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
    }
    a.more-details .fa{
        position: relative;
        top: -2px;
        margin-left: 7px;
        font-size: 14px;
    }
    
    .mb-0 {
        margin-bottom: 0 !important;
    }
    .mb-20 {
        margin-bottom: 20px !important;
    }
    .mb-40 {
        margin-bottom: 40px !important;
    }
    .mb-60 {
        margin-bottom: 60px !important;
    }
    .mb-80 {
        margin-bottom: 80px !important;
    }
    .mb-100 {
        margin-bottom: 100px !important;
    }
    .pt-0 {
        padding-top: 0 !important;
    }
    .pt-20 {
        padding-top: 20px !important;
    }
    .pt-40 {
        padding-top: 40px !important;
    }
    .pt-60 {
        padding-top: 60px !important;
    }
    .pt-80 {
        padding-top: 80px !important;
    }
    .pt-100 {
        padding-top: 100px !important;
    }
    .pt-120 {
        padding-top: 100px !important;
    }
    .pt-150 {
        padding-top: 150px !important;
    }
    .pt-160 {
        padding-top: 160px !important;
    }
    
    .pb-80 {
        padding-bottom: 80px !important;
    }
    
    .custom-heading.style-1 span,
    .custom-heading.style-2 span,
    .menu-item-price p{
        font-family: 'Montez', cursive;
        text-transform: none;
    }
    
    
    /* ==========================================================================
        4. HEADER
        ========================================================================= */
    #header-wrapper {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 1000;
    }
    .resize-header {
        background-color: rgba(0,0,0,0.90);
        -webkit-animation: headerFadeIn 0.4s forwards;
        animation: headerFadeIn 0.4s forwards;
    }
    @-webkit-keyframes headerFadeIn {
        from { background-color: rgba(0,0,0,0.0); }
        to { background-color: rgba(0,0,0,0.90); }
    }
    @keyframes headerFadeIn {
        from { background-color: rgba(0,0,0,0.0); }
        to { background-color: rgba(0,0,0,0.90); }
    }
    .resize-header .logo {
        margin: 10px 0;
    }
    .resize-header .logo img {
        max-width: 100%;
        -webkit-animation: reduceLogo 0.1s forwards;
        animation: reduceLogo 0.1s forwards;
    }
    @-webkit-keyframes reduceLogo {
        from { max-width: 100%;}
        to { max-width: 60%; }
    }
    @keyframes reduceLogo {
        from { max-width: 100%;}
        to { max-width: 60%; }
    }
    .resize-header #header .nav-left .pi-nav {
        margin-top: 50px;
        -webkit-animation: reduceTopMargin 0.2s forwards;
        animation: reduceTopMargin 0.2s forwards;
    }
    @-webkit-keyframes reduceTopMargin {
        from { margin-top: 50px;}
        to { margin-top: 12px; }
    }
    @keyframes reduceTopMargin {
        from { margin-top: 50px;}
        to { margin-top: 12px; }
    }
    .resize-header .navbar {
        margin-bottom: 0;
    }
    .header-inner .row,
    .main-nav .row {
        margin-bottom: 0;
    }
    .logo {
        margin: 30px 0;
    }
    #header .nav-left .navbar-header {
        float: left;
    }
    #header .nav-left .pi-nav {
        float: left;
        margin-top: 50px;
    }
    #header .navbar-default .navbar-collapse,
    #header .navbar-default .navbar-form {
        border: 0px solid transparent;
    }
    #header .navbar-default .navbar-nav > .open > a,
    #header .navbar-default .navbar-nav > .open > a:hover,
    #header .navbar-default .navbar-nav > .open > a:focus {
        background-color: transparent;
    }
    #header .navbar-collapse {
        padding: 0;
        float: right;
    }
    #header .navbar-default{
        background: none;
        border: 0px solid transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    #header .navbar-nav.pi-nav > li > a {
        line-height: 25px;
    }
    #header .navbar-default .navbar-nav > li > a {
        border: none;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        color: #fff;
        margin: 0 4px;
    }
    #header .navbar-default .navbar-nav > .current-menu-item > a:before,
    #header .navbar-default .navbar-nav > li>a:hover:before {
        position: absolute;
        font-family: 'FontAwesome';
        font-size: 6px;
        content: "\f111";
        display: block;
        top: 16px;
        left: 0px;
    }
    #header .navbar-default .navbar-nav > li>a:hover:before {
        -webkit-animation: navItemMove 0.1s forwards;
        animation: navItemMove 0.1s forwards;
    }
    @keyframes navItemMove {
        from { opacity: 0; transform: translateX(20px); }
        to { opacity: 1; transform: translateX(0px); }
    }
    @-webkit-keyframes navItemMove {
        from { opacity: 0; -moz-transform: translateX(20px); }
        to { opacity: 1; -moz-transform: translateX(0px); }
    }
    #header .dropdown-menu > li > a {
        font-size: 14px;
        font-weight: 400;
        padding: 15px 40px 15px 25px;
        color: #A0A0A0;
        border-bottom: 1px solid #3C3C3C;
    }
    #header .dropdown-menu > li > a:hover,
    #header .dropdown-menu > li > a:focus {
        background: #363636;
        background-color: #363636 !important;
        background-image: none;
        filter: none;
    }
    #header .dropdown-menu > li:last-child > a {
        border-bottom: none;
    }
    #header .dropdown.dropdown-submenu > a:after {
        position: absolute;
        font-family: 'FontAwesome';
        font-size: 12px;
        content: "\f0da";
        display: block;
        top: 50%;
        right: 25px;
        color: #A0A0A0;
        margin-top: -8px;
        -webkit-transition: all 0.2s ease 0s;
        -moz-transition: all 0.2s ease 0s;
        -o-transition: all 0.2s ease 0s;
        -ms-transition: all 0.2s ease 0s;
        transition: all 0.2s ease 0s;
    }
    #header .dropdown-menu {
        background: #252525;
        border: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        min-width: 270px;
        padding: 0;
        -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
    }
    #header .dropdown-menu > li > a .fa {
        margin-right: 15px;
    }
    
    
    
    
    /* ==========================================================================
        5. CUSTOM SECTION BACKGROUNDS
        ========================================================================= */
    
    .custom-img-background {
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100px;
    }
    .custom-background.bkg-grey {
        background-color: #fdfdfc !important;
    }
    .full-screen.custom-img-background {
        padding-top: 0;
    }
    .full-screen-content-wrapper {
        display: table;
        width: 100%;
        padding: 0 30px;
        background-repeat: no-repeat;
    }
    .full-screen-cell {
        display: table-cell;
        vertical-align: middle;
    }
    .bkg-img-right {
        background-position: right 60px top;  
        background-repeat: no-repeat;
    }
    .bkg-img-left {
        background-position: left 60px top; 
        background-repeat: no-repeat;
    }
    .bkg-img-left-vertical-center {
        background-repeat: no-repeat;
        background-position: 15px center; 
    }
    .bkg-img-contain {
        background-repeat: no-repeat;
        background-size: contain;  
    }
    
    .locations-column-background-image {
        background-image: url('../img/pics/locations-column-background-image.jpg');  
    }
    .page-content.dark h2,
    .custom-background.dark h2,
    .page-content.dark h3,
    .custom-background.dark h3{
        color: #fff;
    }
    .page-content.dark h4,
    .page-content.dark h5,
    .page-content.dark h6,
    .custom-background.dark h4,
    .custom-background.dark h5,
    .custom-background.dark h6,
    .page-content.dark p,
    .page-content.dark label,
    .custom-background.dark p,
    .custom-background.dark label,
    .custom-background.dark li,
    .custom-background.dark {
        color: #fff;
    }
    
    .frame-box {
        background-color: #fff;
        border: 17px solid #131822;
        padding: 125px 80px;
        box-shadow: 0 0 18px 7px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 0 18px 7px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 0 18px 7px rgba(0,0,0,0.3);
    }
    .custom-img-background.frame-box {
        background-size: 100%;
        background-position: center;
    }
    .frame-box .custom-heading {
        padding-left: 0 !important;
    }
    .frame-box.custom-img-background .custom-heading {
        margin-bottom: 50px;
    }
    
    
    
    /* ==========================================================================
        5.2 CUSTOM HEADING
        ========================================================================= */
    
    .custom-heading,
    .custom-img-background .open-table-widget-style-1 .custom-heading{
        position: relative;
        margin-bottom: 50px;
    }
    .custom-img-background .open-table-widget-style-1 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .custom-img-background .custom-heading {
        margin-bottom: 0;
    }
    .custom-heading h3 {
        margin-bottom: 10px;
    }
    .custom-heading h4 {
        margin-bottom: 15px;
    }
    .page-content.dark .custom-heading h1,
    .page-content.dark .custom-heading h3 {
        color: #fff;
    }
    .custom-heading.style-1 h3 span {
        font-size: 36px;
    }
    .custom-heading.style-1 h2 span {
        font-size: 50px;
    }
    .custom-heading.style-1 h1 span {
        font-size: 60px;
    }
    
    
    
    /* ==========================================================================
       6 DIVIDERS
        ========================================================================= */
    
    .divider {
        position: relative;
    }
    
    .divider.style-1 {
        width: 90px;
    }
    .custom-heading.style-2 .divider.style-1,
    .divider.style-3 {
        width: 47px;
    }
    
    .divider.style-1.center {
        margin: 15px auto 0 auto;
    }
    .divider .hr-simple {
        position:absolute;
        height: 1px;
        width: 30px;
    }
    .divider .hr-simple.left{
        left: 0;
    }
    .divider .hr-simple.right{
        right: 0;
    }
    .divider .hr-icon {
        position: absolute;
        font-size: 6px;
        top: -3px;
        left: 0;
    }
    .divider.center .hr-icon {
        right: 0;
        top: -2px;
    }
    .divider.style-2.center {
        margin: 0 auto 0 auto;
    }
    .divider.style-2 {
        width: 240px;
        text-align: center;
    }
    .divider .hr-double.left:before {
        position:absolute;
        content: "";
        width: 76px;
        height: 1px;
        left: 17px;
        top: 14px;
    }
    .divider .hr-double.left:after {
        position:absolute;
        content: "";
        width: 93px;
        height: 1px;
        top: 18px;
        left: 0;
    }
    .divider .hr-double.right:before {
        position:absolute;
        content: "";
        width: 76px;
        height: 1px;
        right: 17px;
        top: 14px;
    }
    .divider .hr-double.right:after {
        position:absolute;
        content: "";
        width: 93px;
        height: 1px;
        top: 18px;
        right: 0;
    }
    .divider-svg {
        display: inline-block;
    }
    .divider .divider-svg img{
        width: 23px;
        height: 30px;
    }
    
    .divider .divider-svg {
        width: 23px;
        height: 30px;
        margin-left: 4px;
    }
    
    .simple-divider {
        width: 30px;
        height: 2px;
        display: inline-block;
        margin-bottom: 25px;
        margin-top: 15px;
    }
    
    /* ==========================================================================
        7. EVENTS CAROUSEL
    ============================================================================= */
    
    
    .event-item-container .event-item-list {
        float: left;
        width: 50%;
    }
    
    .article-meta li {
        display: inline-block;
        margin: 0 5px;
        padding-left: 14px;
        font-size: 14px;
        position: relative;
    }
    
    
    /* ==========================================================================
        8. SLIDER - MASTER SLIDER
    ============================================================================= */
    
    .master-slider .pi-caption01 {
        font-family: 'Suranna', serif;
        color: #fff;
        font-size: 78px;
        line-height: 78px;
    }
    .master-slider .pi-caption02 {
        font-family: 'Montez', cursive;
        font-size: 72px;
        text-transform: none;
    }
    .master-slider .pi-text01 {
        font-family: 'Montserrat', Arial, sans-serif;
        color: #fff;
        font-size: 21px;
    }
    .master-slider .pi-text02,
    .master-slider .pi-text02 span {
        font-family: 'Montserrat-UltraLight', Arial, sans-serif;
    }
    .master-slider .pi-text02 {
        color: #fff;
        font-size: 18px;
    }
    .master-slider .pi-text02 span {
        color: #acb8c4;
    }
    .master-slider .divider {
        width: 29.5em;
        text-align: center;
    }
    .master-slider .divider .hr-double.left:before {
        position:absolute;
        content: "";
        width: 10em;
        height: 1px;
        left: 2em;
        top: 1.8em;
    }
    .master-slider .divider .hr-double.left:after {
        position:absolute;
        content: "";
        width: 12em;
        height: 1px;
        top: 2.2em;
        left: 0;
    }
    .master-slider .divider .hr-double.right:before {
        position:absolute;
        content: "";
        width: 10em;
        height: 1px;
        right: 2em;
        top: 1.8em;
    }
    .master-slider .divider .hr-double.right:after {
        position:absolute;
        content: "";
        width: 12em;
        height: 1px;
        top: 2.2em;
        right: 0;
    }
    
    .master-slider .divider-svg {
        display: inline-block;
        width: 3em;
        height: 4em;
    }
    .master-slider .divider .divider-svg img{
        width: 3em;
        height: 4em;
    }
    
    
    /* ==========================================================================
       9. BOTON
    ========================================================================= */
    
    
    
    .discover_more {
        background: #362715;
    float: left;
    color: #FFFFFF;
    font-family: Raleway;
    padding: 18px 35px;
    font-size: 13px;
    letter-spacing: 2px;
    margin-top: 15px;
    display: block;
    margin-left: -100px;
    left: 50%;
    position: relative;
    border:1px solid #FFFFFF;
    margin-bottom: 15px;
    }
    
    .discover_more:hover {
        color: #362715;
        background: #FFFFFF;
        border:1px solid #362715;
        
    }
    
    
    /* ==========================================================================
       10. GALERIA
    ========================================================================= */
    
    
    .section {
        display: none;
        padding: 2rem;
      }
      @media screen and (min-width: 768px) {
        .section {
          padding: 4rem;
        }
      }
      @supports (display: grid) {
        .section {
          display: block;
        }
      }
      
    
      
      .grid {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 150px;
        grid-auto-flow: row dense;
      }
      
      .image {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background: #0c9a9a;
        color: #fff;
        grid-column-start: auto;
        grid-row-start: auto;
        color: #fff;
        background: url("../img/pics/numnum1.jpg");
        background-size: cover;
        background-position: center;
        -webkit-box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
                box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        cursor: pointer;
       
      }
      .image:nth-of-type(3n) {
        background-image: url("../img/pics/numnum2.jpg");
      }
      .image:nth-of-type(4n) {
        background-image: url("../img/pics/numnum3.jpg");
      }
      .image:nth-of-type(5n) {
        background-image: url("../img/pics/numnum4.jpg");
      }
      .image:nth-of-type(6n) {
        background-image: url("../img/pics/numnum5.jpg");
      }
      .image:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.3;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
      }
      .image:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
      }
      .image:hover:after {
        opacity: 0;
      }
      .image--medium {
        grid-row-end: span 2;
      }
      .image--large {
        grid-row-end: span 3;
      }
      .image--full {
        grid-column-end: auto;
      }
      @media screen and (min-width: 768px) {
        .image--full {
          grid-column: 1/-1;
          grid-row-end: span 2;
        }
      }
      .image__details {
        position: relative;
        z-index: 1;
        padding: 15px;
        color: #444;
        background: #fff;
        text-transform: lowercase;
        letter-spacing: 1px;
        color: #828282;
      }
      .image__details:before {
        
        font-weight: bold;
        font-size: 1.1rem;
        padding-right: 0.5em;
        color: #444;
      }
      
      /* ==========================================================================
        11. NAVBAR
    ============================================================================= */
    
    
/* WIDTH SETTING */
.nav-hold {
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;
}

.nav-bar {
	width: 100%;
	background: #222;
}

.nav-hold {
	overflow: hidden;
}

.nav-logo {
	float: 		left;
	display: 	block;
	color: 		#f9f9f9;
  padding: 	20px;
}

.nav-list {
	float: right;
}

.nav-list li {
	float: left;
}

.nav-list li a {
	display: 	block;
	padding: 	20px 10px;
	color: 		#f9f9f9;
}

.nav-menu {
	color: 		#f9f9f9;
	float: 		right;
	padding: 	20px 10px;
	display: 	none;
	cursor: 	pointer;
}

@media (max-width: 700px) {
	.nav-menu {
		display: 	block;
	}

	.nav-list {
		/*float: left;*/
		width: 		100%;
		height: 	0;
	}

	.nav-open {
		height: auto;
	}

	.nav-list li {
		width: 		100%;
	}
  
  .nav-list li a {
    padding: 	10px 10px;
  }

}


    /* ==========================================================================
        11. FONDOHEAD
    ============================================================================= */
   
    /*Imagen de Fondo*/
      .font-cover{
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-color: #000000;
        height: 500px;
    }

    /*Fondo productos*/
    #headparallax{
        background-image: url(../img/pics/bkg-img.jpg);
    }

    #headparallax1{
        background-image: url(../img/pics/bkg-img1.jpg);
    }

    #headparallax2{
        background-image: url(../img/pics/bkg-img2.jpg);
    }

     #headparallax3{
        background-image: url(../img/pics/bkg-img3.jpg);
    }

     #headparallax3{
        background-image: url(../img/pics/bkg-img3.jpg);
    }


     #headparallax4{
            background-image: url(../img/pics/bkg-img4.jpg);
        }


     #headparallax5{
            background-image: url(../img/pics/bkg-img5.jpg);
        }


     #headparallax6{
            background-image: url(../img/pics/bkg-img6.jpg);
        }


     #headparallax7{
            background-image: url(../img/pics/bkg-img7.jpg);
        }


     #headparallax9{
            background-image: url(../img/pics/bkg-img9.jpg);
        }



    #video-background {
   
        height: 500px;
        width: 100%;
    }

 /* ==========================================================================
        11. CARD HABITACION
    ============================================================================= */

    .cardh {
        width: 960px;
        height: 400px;
        margin: 0 auto;
        padding: 35px 0;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      color: #333;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    
    .cardh-image {
      display: block;
      -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
      flex: 1 0 50%;
      min-height: 240px;
      background-position: center;
      background-size: cover;
      background-color: #ccc;
    }
    
    
    .cardh-content {
      display: block;
      -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
      flex: 1 0 47%;
      margin: 0;
      background: #fff;
    }
    
    .cardh-content {
      padding: 1.5em 1em 1.5em 1.5em;
      margin: 0;
      padding-bottom: 0;
    }
    
    
    .cardh-subtitle {
      font-family: open sans;
      font-size: 13px;
      text-transform: uppercase;
      color: #66CCCC;
      margin: 0;
      margin-bottom: 4px;
      padding: 0;
      font-weight: 400;
    }
    
    .cardh-title {
      font-family: 'open sans';
      font-weight: 700;
      padding: 0;
      margin: 0;
      color: #333;
    }
    
    .cardh-title a {
      color: #333;
      text-decoration: none;
      transition: ease 500ms all;
    }
    
    .cardh-title a:hover {
      color: #66cccc;
      text-decoration: none;
    }
    
    .cardh-body {
      font-family: open sans;
      display: block;
    }
    
    .read-more {
      margin-top: 1.5rem;
      text-align: right;
      color: #333;
      padding-right: 30px;
    }
    
    .read-more a {
      color: #333;
      opacity: .6;
      text-decoration: none;
      font-size: 14px;
    }

    .altura{
        margin-top: 50px;
    }


 /* ==========================================================================
        11. LOGIN
    ============================================================================= */

    *, *:before, *:after {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      
    
      
      input, button {
        border: none;
        outline: none;
        background: none;
        font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      }
      
      .tip {
        font-size: 20px;
        margin: 40px auto 50px;
        text-align: center;
      }
      
      .cont {
        overflow: hidden;
        position: relative;
        width: 900px;
        height: 550px;
        margin: 0 auto 100px;
        background: #fff;
      }
      
      .form {
        position: relative;
        width: 640px;
        height: 100%;
        -webkit-transition: -webkit-transform 1.2s ease-in-out;
        transition: -webkit-transform 1.2s ease-in-out;
        transition: transform 1.2s ease-in-out;
        transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
        padding: 50px 30px 0;
      }
      
      .sub-cont {
        overflow: hidden;
        position: absolute;
        left: 640px;
        top: 0;
        width: 900px;
        height: 100%;
        padding-left: 260px;
        background: #fff;
        -webkit-transition: -webkit-transform 1.2s ease-in-out;
        transition: -webkit-transform 1.2s ease-in-out;
        transition: transform 1.2s ease-in-out;
        transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
      }
      .cont.s--signup .sub-cont {
        -webkit-transform: translate3d(-640px, 0, 0);
                transform: translate3d(-640px, 0, 0);
      }
      
      button {
        display: block;
        margin: 0 auto;
        width: 260px;
        height: 36px;
        border-radius: 30px;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
      }
      
      .img {
        overflow: hidden;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 260px;
        height: 100%;
        padding-top: 360px;
      }
      .img:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 900px;
        height: 100%;
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg");
        background-size: cover;
        -webkit-transition: -webkit-transform 1.2s ease-in-out;
        transition: -webkit-transform 1.2s ease-in-out;
        transition: transform 1.2s ease-in-out;
        transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
      }
      .img:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
      }
      .cont.s--signup .img:before {
        -webkit-transform: translate3d(640px, 0, 0);
                transform: translate3d(640px, 0, 0);
      }
      .img__text {
        z-index: 2;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        color: #fff;
        -webkit-transition: -webkit-transform 1.2s ease-in-out;
        transition: -webkit-transform 1.2s ease-in-out;
        transition: transform 1.2s ease-in-out;
        transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
      }
      .img__text h2 {
        margin-bottom: 10px;
        font-weight: normal;
      }
      .img__text p {
        font-size: 14px;
        line-height: 1.5;
      }
      .cont.s--signup .img__text.m--up {
        -webkit-transform: translateX(520px);
                transform: translateX(520px);
      }
      .img__text.m--in {
        -webkit-transform: translateX(-520px);
                transform: translateX(-520px);
      }
      .cont.s--signup .img__text.m--in {
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }
      .img__btn {
        overflow: hidden;
        z-index: 2;
        position: relative;
        width: 100px;
        height: 36px;
        margin: 0 auto;
        background: transparent;
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;
      }
      .img__btn:after {
        content: '';
        z-index: 2;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #fff;
        border-radius: 30px;
      }
      .img__btn span {
        position: absolute;
        left: 0;
        top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        -webkit-transition: -webkit-transform 1.2s;
        transition: -webkit-transform 1.2s;
        transition: transform 1.2s;
        transition: transform 1.2s, -webkit-transform 1.2s;
      }
      .img__btn span.m--in {
        -webkit-transform: translateY(-72px);
                transform: translateY(-72px);
      }
      .cont.s--signup .img__btn span.m--in {
        -webkit-transform: translateY(0);
                transform: translateY(0);
      }
      .cont.s--signup .img__btn span.m--up {
        -webkit-transform: translateY(72px);
                transform: translateY(72px);
      }
      
      h2 {
        width: 100%;
        font-size: 26px;
        text-align: center;
      }
      
      label {
        display: block;
        width: 260px;
        margin: 25px auto 0;
        text-align: center;
      }
      label span {
        font-size: 12px;
        color: #cfcfcf;
        text-transform: uppercase;
      }
      
      input {
        display: block;
        width: 100%;
        margin-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        text-align: center;
      }
      
      .forgot-pass {
        margin-top: 15px;
        text-align: center;
        font-size: 12px;
        color: #cfcfcf;
      }
      
      .submit {
        margin-top: 40px;
        margin-bottom: 20px;
        background: #d4af7a;
        text-transform: uppercase;
      }
      
      .fb-btn {
        border: 2px solid #d3dae9;
        color: #8fa1c7;
      }
      .fb-btn span {
        font-weight: bold;
        color: #455a81;
      }
      
      .sign-in {
        -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
      }
      .cont.s--signup .sign-in {
        -webkit-transition-timing-function: ease-in-out;
                transition-timing-function: ease-in-out;
        -webkit-transition-duration: 1.2s;
                transition-duration: 1.2s;
        -webkit-transform: translate3d(640px, 0, 0);
                transform: translate3d(640px, 0, 0);
      }
      
      .sign-up {
        -webkit-transform: translate3d(-900px, 0, 0);
                transform: translate3d(-900px, 0, 0);
      }
      .cont.s--signup .sign-up {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      
      .icon-link {
        position: absolute;
        left: 5px;
        bottom: 5px;
        width: 32px;
      }
      .icon-link img {
        width: 100%;
        vertical-align: top;
      }
      .icon-link--twitter {
        left: auto;
        right: 5px;
      }
      


  /* ==========================================================================
   10. TARJETAS SALAS
========================================================================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}
.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}
.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}
.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}
.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}


  /* ==========================================================================
   10. TIME PICKER
========================================================================= */


#time-range p {
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#333;
}
.ui-slider-horizontal {
    height: 8px;
    background: #D7D7D7;
    border: 1px solid #BABABA;
    box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
    clear: both;
    margin: 8px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 8px;
    font-size: .7em;
    display: block;
    border: 1px solid #333;
    box-shadow: 0 1px 0 rgb(138, 128, 128) inset;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    background: rgb(136, 131, 131);
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
    background-image: -webkit-linear-gradient(top, rgb(90, 77, 77), #333);
    background-image: -moz-linear-gradient(top, rgb(90, 77, 77), #333);
    background-image: -o-linear-gradient(top,  rgb(90, 77, 77), #333);
    background-image: linear-gradient(top,  rgb(90, 77, 77), #333);
}
.ui-slider .ui-slider-handle {
    border-radius: 50%;
    background: #F9FBFA;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
    background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: linear-gradient(top, #C7CED6, #F9FBFA);
    width: 22px;
    height: 22px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    border: none;
    cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    background: #333;
    -webkit-box-shadow: 0 1px 1px 1px #333 inset, 0 1px 0 0 #FFF;
    -moz-box-shadow: 0 1px 1px 1px #333 inset, 0 1px 0 0 white;
    box-shadow: 0 1px 1px 1px #333 inset, 0 1px 0 0 #FFF;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}
.ui-slider a:focus {
    outline:none;
}

#slider-range {
  width: 90%;
  margin: 0 auto;
}
#time-range {
  width: 400px;
}




  /* ==========================================================================
   10. NUMBER PICKER
========================================================================= */




.plusminus {
    display: inline-block;
    position: relative;
    font-size: 0;
    overflow: hidden;
    border-radius: 3px;
    width: 44px;
    height: 132px;
  }
  .plusminus button {
    display: block;
    width: 44px;
    height: 44px;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 0;
    background: #333;
    color: #fff;
    font-size: 30.8px;
    line-height: 1;
    font-family: bonds, sans-serif;
    cursor: pointer;
    -moz-transition: color 200ms;
    -o-transition: color 200ms;
    -webkit-transition: color 200ms;
    transition: color 200ms;
  }
  .plusminus button:focus {
    outline: none;
    color: #333;
  }
  .plusminus button:disabled {
    background: #999;
    color: #ccc;
    cursor: default;
  }
  .plusminus button:first-child {
    bottom: 0;
  }
  .plusminus button:first-child:before {
    content: "-";
  }
  .plusminus button:last-child {
    top: 0;
  }
  .plusminus button:last-child:before {
    content: "+";
  }
  .plusminus button:last-child:focus {
    color: #fff;
  }
  .plusminus input[type="number"] {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 44px;
    margin: 0;
    padding: 0 0 16.92308px;
    border: 0;
    font-size: 17.6px;
    font-weight: bold;
    text-align: center;
    -moz-appearance: textfield;
  }
  .plusminus input[type="number"]::-webkit-outer-spin-button, .plusminus input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .plusminus:after {
    content: "MESAS";
    position: absolute;
    font-size: 9.68px;
    left: 0;
    right: 0;
    line-height: 1;
    padding: 3.52px 0 3.52px 0;
    width: 44px;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    color: #888;
    text-align: center;
    bottom: 34%;
  }
  
  .plusminus.horiz {
    width: 132px;
    height: 44px;
  }
  .plusminus.horiz button:first-child {
    left: 0;
  }
  .plusminus.horiz button:last-child {
    right: 0;
  }
  .plusminus.horiz:after {
    bottom: 0;
  }
  .plusminus.horiz input[type="number"] {
    position: absolute;
    top: 0;
    left: 44px;
  }
  .plusminus.stacked {
    width: 88px;
    height: 88px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .plusminus.stacked:after {
    width: 100%;
    bottom: 50%;
  }
  .plusminus.stacked button {
    float: none;
    top: auto;
    bottom: 0;
  }
  .plusminus.stacked button:first-child {
    left: 0;
  }
  .plusminus.stacked button:last-child {
    right: 0;
  }
  .plusminus.stacked input[type="number"] {
    top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #eee;
    width: 100%;
  }
  .plusminus.stacked input[type="number"]:after {
    width: 100%;
  }
  
    /* ==========================================================================
   10. CHECK BOX
========================================================================= */

  
label {
    cursor: pointer;
    color: #666;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + .label-text:before {
    content: "\f096";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
  }
  input[type="checkbox"]:checked + .label-text:before {
    content: "\f14a";
    color: rgb(66, 58, 58);
    animation: tick 150ms ease-in;
  }
  input[type="checkbox"]:disabled + .label-text {
    color: #aaa;
  }
  input[type="checkbox"]:disabled + .label-text:before {
    content: "\f0c8";
    color: #ccc;
  }
  
  @keyframes tick {
    0% {
      transform: scale(0);
    }
    90% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
  
    /* ==========================================================================
   10. FOOTER
========================================================================= */

.footer1 {
    background: #fff url("../images/footer/footer-bg.png") repeat scroll left top;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;/*  border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #003;*/
}



.title-widget {
    color: #898989;
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Montez', cursive;
    text-transform: none;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}

.title-widget::before {
    background-color: #b48c80;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width:95%;
}



.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.footerp p {font-family: 'Gudea', sans-serif; }


#social:hover {
                -webkit-transform:scale(1.1); 
-moz-transform:scale(1.1); 
-o-transform:scale(1.1); 
            }
            #social {
                -webkit-transform:scale(0.8);
                /* Browser Variations: */
-moz-transform:scale(0.8);
-o-transform:scale(0.8); 
-webkit-transition-duration: 0.5s; 
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
            }           
/* 
    Only Needed in Multi-Coloured Variation 
                                               */
            .social-fb:hover {
                color: #3B5998;
            }
            .social-tw:hover {
                color: #4099FF;
            }
            .social-gp:hover {
                color: #d34836;
            }
            .social-em:hover {
                color: #f39c12;
            }
            .nomargin { margin:0px; padding:0px;}





.footer-bottom {
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}

    /* ==========================================================================
   10. EVENTO
========================================================================= */

[class^="swiper-button-"] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.swiper-slide {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 80%;
  height: 100vh;
  float: left;
  -webkit-transition: opacity .6s ease, -webkit-transform .3s ease;
  transition: opacity .6s ease, -webkit-transform .3s ease;
  transition: opacity .6s ease, transform .3s ease;
  transition: opacity .6s ease, transform .3s ease, -webkit-transform .3s ease;
}
.swiper-container.nav-slider {
  width: 20%;
  padding-left: 5px;
}
.swiper-container.nav-slider .swiper-slide {
  cursor: pointer;
  opacity: .4;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.swiper-container.nav-slider .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.swiper-container.nav-slider .swiper-slide .content {
  width: 100%;
}
.swiper-container.nav-slider .swiper-slide .content .title {
  font-size: 20px;
}
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

.swiper-slide {
  overflow: hidden;
}
.swiper-slide .slide-bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.swiper-slide .entity-img {
  display: none;
}
.swiper-slide .content {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50%;
  padding-left: 5%;
  color: #fff;
}
.swiper-slide .content .title {
  font-size: 2.6em;
  font-weight: bold;
  margin-bottom: 30px;
}
.swiper-slide .content .caption {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
  -webkit-transition: opacity .3s ease, -webkit-transform .7s ease;
  transition: opacity .3s ease, -webkit-transform .7s ease;
  transition: opacity .3s ease, transform .7s ease;
  transition: opacity .3s ease, transform .7s ease, -webkit-transform .7s ease;
}
.swiper-slide .content .caption.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.swiper-button-next {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

